[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-login = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
